<div class="jumbo">
	<h1>#pokaselim</h1>
	<p>A farewell page from your friends at Leo Burnett Moscow.</p>
</div>

<div id="instafeed"></div>

<script type="text/javascript">
    var feed = new Instafeed({
    	clientId: 'a617578eb08e4050b8545b98d1ec4ccd',
      get: 'tagged',
      tagName: 'black',
      sortBy: 'random',
      limit: 60,
    });
    feed.run();
</script>

<footer>
	<p>photos tagged with #pokaselim at instagram</p>
</footer>