<div class="jumbo">
	<h1>#pokaselim</h1>
	<p>A farewell page from your friends at Leo Burnett Moscow.</p>
</div>

<div id="instafeed"></div>

<div><a href="#" id="load-more" class="morelink">Bring More Memories</a></div>

<footer>
	<p>photos tagged with <strong>#pokaselim</strong> at instagram<br>
	created for the farewell party at 13.03.15</p>
</footer>

<script type="text/javascript">
	var loadButton = document.getElementById('load-more');
	var feed = new Instafeed({
		clientId: 'a617578eb08e4050b8545b98d1ec4ccd',
    get: 'tagged',
    tagName: 'pokaselim',
    limit: 32,
	  // every time we load more, run this function
	  after: function() {
	    // disable button if no more results to load
	    if (!this.hasNext()) {
	      loadButton.remove()
	    }
	  },
	});

	// bind the load more button
	loadButton.addEventListener('click', function() {
	  feed.next();
	});

	// run our feed!
	feed.run();
</script>

<script type="text/javascript">
	setInterval(function() {
    window.location.reload();
  }, 300000); 
</script>